<div style="padding: 10px; overflow: auto;">
    <div style="background: url(http://claybourne.github.io/cmg-gadget/img/item-background.png) no-repeat center 20px;
                text-align: center;overflow: auto;height: 320px;width:300px;vertical-align: middle;">
        <span style="display: inline-block;height: 100%;vertical-align: middle;"></span>
        <a href="<#= link #>">
            <img class="zoomable" src="<#= image #>" style="border: none;vertical-align: middle;"/>
        </a>
    </div>
    <div style="width:100%; font-size: 1.2em;font-weight: bold;text-align: center;overflow: auto;color: <#= color #>">
        <#= title #>
    </div>
    <div style="width:100%;overflow: auto;text-align: center;color: <#= color #>">
        <#= description #>
    </div>
</div>