<div>
        <div style="position: absolute; width: 480px; height: 300px; top: 10px; left: 10px;
        text-align: left; line-height: 1.8em; font-size: 12px;">
            <br />
        <span style="display: block; line-height: 1em; text-transform: uppercase; font-size: 52px;
        color: #FFFFFF;"><#= header #></span>
            <br />
            <br />
        <span style="display: block; line-height: 1.1em; font-size: 2.5em; color: #FFFFFF;">
                <#= subheader #></span>
            <br />
        <span style="display: block; line-height: 1.1em; font-size: 1.5em; color: #FFFFFF;">
                <#= description #></span>
            <br />
            <br />
            <a href="http://www.jssor.com">
                <img src="http://claybourne.github.io/cmg-gadget/slideshows/img/major/find-out-more-bt.png" border="0" alt="auction slider" width="215"
                     height="50" /></a>
        </div>
        <img src="<#= image #>" style="position: absolute; top: 23px; left: 480px; width: 500px; height: 300px;" />
        <img u="thumb" src="<#= thumb #>" />
    </div>